/* Variables */

$c-one: #fed136;
$c-one__hover: darken($c-one, 20%);
$c-two: #fff;
$c-three: #000;
$c-four: #f7f7f7;

$font-one: 'Montserrat', sans-serif;
$font-two: 'Noto Serif', serif;

$transition: all .4s ease;

/* Global */

* {
    margin: 0;
    padding: 0;
    font-family: $font-one
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    max-width: 1000px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    transition: all .4s ease;
    &-one {
        background: $c-one;
        color: $c-two;
        &:hover {
            background: $c-one__hover;
        }
    }
}
h1 {
    font-size: 70px;
    line-height: 80px;
}
h2 {
    font-size: 40px;
    line-height: 56px;
}
h4 {
    font-size: 16px;
    font-family: $font-two;
    font-style: italic;
    font-weight: normal;
}
h5 {
    font-size: 18px;
    margin-bottom: 10px;
}
p {
    font-size: 14px;
    line-height: 18px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
a {
    text-decoration: none;
}

/* Nav */

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: $transition;
    z-index: 4;
    &.fixed {
        background: $c-three;
        position: fixed;
        padding-bottom: 30px;
    }
    .flex {
        justify-content: space-between;
    }
    &-logo {
        margin-top: 45px;
        display: block;
    }
    &-menu {
        li {
            display: inline-block;
            margin-left: 40px;
            margin-top: 45px;
            text-transform: uppercase;
            a {
                color: $c-two;
                transition: $transition;
                &:hover {
                    color: $c-one;
                }
            }
        }
    }
}


/* Header */

.header {
    background-image: url(/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .container {
        height: 100vh;
        position: relative;
    }
    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $c-two;
        width: 100%;
        h2 {
            font-family: $font-two;
            margin-bottom: 50px;
        }
        h1 {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
    }
}

/* Sections */

.section {
    padding: 120px 0;
    text-align: center;
    h2 {
        margin-bottom: 20px;
    }
    h4 {
        margin-bottom: 80px;
    }
    &-one {
        .col {
            box-sizing: border-box;
            padding: 0 20px;
        }
    }
    &-two {
        background: $c-four;
        .flex {
            flex-wrap: wrap;
            .col {
                flex: 0 0 30%;
                margin-bottom: 40px;
                background: $c-two;
                padding-bottom: 20px;
                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}

/* Footer */

.footer {
    padding: 40px 0;
    position: relative;
    &-socials {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}